<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

        <br>
        <br>
        <br>

        <form>



        <div class="form-group">
                <label for="mail">Email</label>
                <input type="text" class="form-control"  ngModel name="mail" required />
        </div>


        <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" ngModel name="password" required />
            </div>


            <div>
                <button class="btn btn-primary" type="submit" routerLinkActive="active" [routerLink]="['/pendinglist']">Login</button> <br>
               </div>


    


            </form>

    </div>
</div>